
 <h1>Plan#1breakfest 400kcal</h1>
<p>Mieszanka sałat	15 g	2 garście</p>
<p>Grejpfrut	300 g	1 sztuka</p>
<p>Orzechy włoskie bez łupiny	16 g	4 sztuki</p>
<p>Oliwa z oliwek	5 g	1 łyżeczka</p>
<p>Sok z cytryny	5 g	1 łyżeczka</p>
<p>Cukier	2 g	szczypta</p>
<p>Pieprz czarny mielony	2 g	szczypta</p>
<p>Sól	2 g	szczypta</p>
<p>Chleb żytni pełnoziarnisty	60 g	2 kromki</p>
<p>Szynka z kurczaka</p>


 <h1>Plan#3dinner 350kcal </h1>
<p>Propozycja 1. Pasta z sera białego z rzodkiewką i szczypiorkiem, pieczywo, owoc, olej lniany</p>
<p>Ser twarogowy chudy	40 g	2 plastry</p>
<p>Rzodkiewka	30 g	2 sztuki</p>
<p>Szczypiorek	10 g	2 łyżki</p>
<p>Jogurt naturalny	25 g	1 łyżka</p>
<p>Pieprz czarny mielony	2 g	szczypta</p>
<p>Sól	2 g	szczypta</p>
<p>Chleb chrupki	20 g	2 sztuki</p>
<p>Morele	120 g	3 sztuki</p>
<p>Olej lniany	7 g	1 łyżeczka</p>
